{% extends 'base.html.twig' %}

{% block title %}Employer index{% endblock %}

{% block body %}
    <h1>Employer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EmployerName</th>
                <th>Address</th>
                <th>Email1</th>
                <th>Email2</th>
                <th>Telephone</th>
                <th>AboutUs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employer in employers %}
            <tr>
                <td>{{ employer.id }}</td>
                <td>{{ employer.employerName }}</td>
                <td>{{ employer.address }}</td>
                <td>{{ employer.email1 }}</td>
                <td>{{ employer.email2 }}</td>
                <td>{{ employer.telephone }}</td>
                <td>{{ employer.aboutUs }}</td>
                <td>
                    <a href="{{ path('employer_show', {'id': employer.id}) }}">show</a>
                    <a href="{{ path('employer_edit', {'id': employer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employer_new') }}">Create new</a>
{% endblock %}
