{% extends 'admin/base.html.twig' %}

{% block title %}Employer index{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>Employer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Company_name</th>
                <th>Email</th>
                <th>Contact_name</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employer in employers %}
            <tr>
                <td><a href="{{ path('employer_edit', {'id': employer.id}) }}">  {{ employer.companyName }}</a></td>
                <td>{{ employer.user.email }}</td>
                <td>{{ employer.contactName }}</td>
                <td>{{ employer.address1 }}</td>
                <td>{{ employer.address2 }}</td>
                <td>{{ employer.telephone }}</td>
                         </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('employer_new') }}">Add</a>
{% endblock %}
