{% extends 'admin/base.html.twig' %}

{% block title %}Employer index{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>Employer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employer in employers %}
            <tr>
                <td>{{ employer.companyName }}</td>
                <td>{{ employer.contactName }}</td>
                <td>{{ employer.email }}</td>
                <td>{{ employer.password }}</td>
                <td>{{ employer.address1 }}</td>
                <td>{{ employer.address2 }}</td>
                <td>{{ employer.telephone }}</td>
                <td>
                    <a class="btn btn-outline-info btn-sm" href="{{ path('employer_show', {'id': employer.id}) }}">Show</a>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('employer_edit', {'id': employer.id}) }}">Edit</a>
                    <a class="btn btn-outline-success btn-sm" href="{{ path('job_by_employer', {'employerId':employer.id}) }}">Jobs</a>
                </td>
            </tr>
        {% else %}

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('employer_new') }}">Add</a>
{% endblock %}
