{% extends 'admin/base.html.twig' %}

{% block title %}Employer{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>Employer</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Contact</th>
                <td>{{ employer.contactName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employer.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ employer.password }}</td>
            </tr>
            <tr>
                <th>Company_name</th>
                <td>{{ employer.companyName }}</td>
            </tr>
            <tr>
                <th>Address1</th>
                <td>{{ employer.address1 }}</td>
            </tr>
            <tr>
                <th>Address2</th>
                <td>{{ employer.address2 }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ employer.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-info" href="{{ path('employer_index') }}">Return to list</a>

    <a class="btn btn-outline-danger" href="{{ path('employer_edit', {'id': employer.id}) }}">Edit</a>

    {{ include('employer/_delete_form.html.twig') }}
{% endblock %}
