{{ form_start(form) }}
       {{ form_row(form.employer) }}

       {{ form_row(form.resort) }}
       {{ form_row(form.category) }}
       {{ form_row(form.description) }}
       {{ form_row(form.requirements) }}
       {{ form_row(form.wages) }}
        {{ form_row(form.languages) }}

<div class="row">
    <div class="col-3">{{ form_row(form.date_start) }}</div>
    <div class="col-3">{{ form_row(form.date_end) }}</div>
</div>

<div class="row">
    <div class="col-3"> {{ form_row(form.accommodation) }}  </div>
    <div class="col-3"> {{ form_row(form.skipass) }} </div>
    <div class="col-3">  {{ form_row(form.equipmenthire) }} </div>
    <div class="col-3">  {{ form_row(form.fullboard) }} </div>
</div>
<button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
