{% extends 'admin/base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>Job index</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Employer</th>
            <th>Category</th>
            <th>Resort</th>
            <th>Description</th>

            <th>Date_end</th>
            <th>Date_start</th>

            <th>Wages</th>
            <th>Accommodation</th>
            <th>Fullboard</th>

            <th>Skipass</th>
            <th>Equipment Hire</th>
            <th>Requirements</th>

            <th>Languages</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a target="_blank" href="{{ path('job_edit', {'id': job.id}) }}">{{ job.id }}</a></td>
                <td>{{ job.employer }}</td>
                <td>{{ job.category }}</td>
                <td>{{ job.resort }}</td>
                <td>{{ job.description }}</td>

                <td data-sort="{{ job.dateStart |date('Y-m-d')}}">{{ job.dateEnd ? job.dateStart|date('d-M-y') : '' }}</td>
                <td data-sort="{{ job.dateEnd |date('Y-m-d')}}">{{ job.dateEnd ? job.dateEnd|date('d-M-y') : '' }}</td>
                <td>{{ job.wages }}</td>
                <td>{{ job.accommodation }}</td>
                <td>{{ job.fullboard }}</td>

                <td>{{ job.skipass }}</td>
                <td>{{ job.equipmenthire }}</td>
                <td>{{ job.requirements }}</td>

                <td>{{ job.languages }}</td>
                <td>{{ include('job/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-info" href="{{ path('job_new') }}">Add</a>
{% endblock %}
