<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 3 | Dashboard</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->

        <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>{% block title %}{% endblock %}-employer</title>
    {% endblock %}
</head>
<body>
{% block header %}
    {{ include('admin/header.html.twig') }}
{% endblock %}


<div class="row d-flex">
    <div class="col-2">
        {% block sidebar %}
            {{ include('admin/sidebar.html.twig') }}
        {% endblock %}
    </div>
    <div class="col-9 ">
        <div class="m-auto">
            {% block content %}
                <!-- <div class="wrapper float-left">
                     <div class="container"> -->
            {% endblock %}
        </div>

    </div>


</div>
{% block footer %}
    {{ include('admin/footer.html.twig') }}
{% endblock %}
