{% extends 'base.html.twig' %}

{% block title %}Resort index{% endblock %}

{% block body %}
    <h1>Resort index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Maplink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resort in resorts %}
            <tr>
                <td>{{ resort.id }}</td>
                <td>{{ resort.description }}</td>
                <td>{{ resort.maplink }}</td>
                <td>
                    <a href="{{ path('resort_show', {'id': resort.id}) }}">show</a>
                    <a href="{{ path('resort_edit', {'id': resort.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resort_new') }}">Create new</a>
{% endblock %}
